<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bootstrap demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
  <h1 id="name"></h1>
  <h2 id="email"></h2>
  <h3 id="username"></h3>
  <!-- <input type="text" name="" id="name"> -->
  <button id="logout">Logout</button>
  <a href="/user/register">Register</a>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script>
    var accessToken;
    var refreshToken;
    $(document).ready(function () {
      if (localStorage.getItem("useraccesstoken") != null) {
        if (localStorage.getItem("userrefreshtoken") != null) {
          checkUserlgn()
        }
        else {

        }
      }
      else {

      }
    });

    function checkUserlgn() {
      $.ajax({
        url: "/user/user-details/",
        type: "GET",
        beforeSend: function (xhr) {
          xhr.setRequestHeader(
            "Authorization",
            "Bearer " + localStorage.getItem("useraccesstoken")
          );
        },
        statusCode: {
          200: function (response) {
            // alert(response.user.user)
            $("#name").html('Name : ' + response.data['name'])
            $("#email").html('Email : ' + response.data['email'])
            $("#username").html('Username : ' + response.data['username'])
            // $('#name').val(response.data.user)
            // $('#reason').html(responce.value.reason)

          },
          400: function () {
          },
          401: function (response) {
          }
        }
      })
    }





    $("#logout").click(function () {
      data = {
        'refresh_token': localStorage.getItem("userrefreshtoken")
      }
      $.ajax({
        url: "/user/api/logout",
        type: "POST",
        data: data,
        beforeSend: function (xhr) {
          xhr.setRequestHeader(
            "Authorization",
            "Bearer " + localStorage.getItem("useraccesstoken")
          );
        },
        statusCode: {
          205: function (response) {
            localStorage.removeItem("useraccesstoken")
            localStorage.removeItem("userrefreshtoken")
            window.location.href = "/user/login"
          },
          405: function (response) {

          }
        }
      })
    });
  </script>
</body>

</html>